footer{
    
    .background-footer{
        width:100%;
        background-image:url("/../../images/footer-bg.jpg");
        display:flex;

        .footer-menu{
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding-left: 40px;
            

            ul{
                width:25%;
                color:white;
                


                li{
                    color:grey;
                    list-style:none;
                }

                
            }
        }

        .footer-logo{
            width:50%;
            height:100%;
            

            .logo-container{
                width:100%;
                display: flex;
                justify-content: flex-start;

                img{
                    width: 55%;
                }
            }

        }
    }
    .social-media{
        display:flex;
        justify-content: space-around;
        background-color:#303030;
        height:20%;
        align-items: center;

        button{
            border: 5px solid #0282F9;
            background-color: #303030;
            color: white;
            padding: 20px;
        }

        .social-icons-container{
            display:flex;
            width:20%;
            justify-content: space-evenly;
            align-items: center;

            span{
                color:#0282F9;
                font-size:20px;
                font-weight:bolder
            }
        }

        

        .social-icon{
            height: 30px;
            width: 30px;
            

            img{
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 1060px){
    .footer-logo{
            visibility: visible;
    }

}