header{
    height:100px;

    .upper-nav{
        height:20%;
        background-color:#0282F9;
    };

    .options-container{
        height:100%;
        display: flex;
        flex-direction: row-reverse;
        margin-right: 10px;
        align-items: center;

        .option-txt{
            font-size: 10px;
            color: white;
            margin-right: 10px;
        }
    }


    .lower-nav{
        height:80%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .search-button{
            visibility: hidden;
        }


        .menu-button{
            visibility: hidden;
            color:#0282F9 ;
            
            i{
                font-size: 30px;
            }
        }

            .logo-container{
                width:50px;

                img{
                    width:100%
                }
            }

            .list-options{
                width:100%;
                display: flex;
                justify-content: center;
            }


            .list-options ul{
                display: flex;

                li{
                    list-style: none;
                    padding:10px
                }
            }
        
            input{
                border: 0;
                outline: 0;
                border-bottom: 2px solid #0282F9;
            }

            ::placeholder{
                padding-left:65%
            }
        }


}


@media only screen and (max-width: 1020px) {

    .lower-nav{
        input{
            display: none;
        }
        .search-button i{
            visibility: visible;
            margin-left:10px
        }
    }
}

@media only screen and (max-width: 940px){
    .logo-container{
        visibility: hidden;
    }
}


@media only screen and (max-width: 880px) {
        
        .list-options ul li{
            display:none;
        };
        .menu-button i{
           visibility:visible;
        }
        .logo-container{
            visibility: visible;
        }
}

