.product-background{
    height: 450px;
    background-image: url("/images/jumbotron.jpg");
    background-size: cover;
    position:relative;
}

.product-splitter{
    width:100%;
    height: 80px;
    background-color: #0282F9;
    position: relative;
}

.product-poster{
    width: 260px;
    position: absolute;
    bottom: -20px;
    left: 20%;
    top: 208px;

    img{
        width: 100%;
    }
}

.product-description-container{
    width: 100%;
    display: flex;
    justify-content:center;

        img{
            width: 100%;
        }
    }

    .product-info{
        width: 60%;
        height: 100%;
        display: flex;


        .product-advertising{
            width:40%;
            display: flex;
            justify-content:center;
            align-items: center;

            .ad-container{
                width: 80%;
        }
    }

    .product-description{
        width: 60%;

        .product-txt-description{
            width: 100%;
            line-height: 30px;
        }
    }


    .product-price{
        width: 100%;
        height: 80px;
        background-color:#55BA59;
        display: flex;


        .price{
            height: 100%;
            width: 60%;
            border-right: 1px solid grey;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .price-usd{
                display: flex;
                align-items: center;
            }

            p{
                color: #A3F287;
                margin-left: 8px ;
                margin-right: 8px ;
            }

            span{
                color: white;
            }
        }
        .product-availability{
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }

        .availability{
            color: #A3F287;
            margin-right: 8px;
        }

    }
}

.container-talent-specs{
    height: 350px;
    display: flex;
    justify-content: center;

    .section-talent-specs{
        height: 100%;
        width: 60%;
        display: flex;

        .talent{
            display: flex;
            justify-content: space-between;
            border-bottom:1px solid grey;
            height: 100px;

            .text-container{
                width: 50%;
                font-size: 0.8rem;
                margin-right: 40px;
            }
        }

        .talent-container{
            height: 100%;
            width: 50%;

            h3{
                color:#03416F ;
                height: 70px;
                border-bottom: 1px solid grey;
            }
        }
    }

    .specs-container{
        height: 100%;
        width: 50%;

        .specs{
            display: flex;
            justify-content: space-between;
            border-bottom:1px solid grey;
            height: 50px;

            .text-container{
                margin-right: 20px;
            }
        }
    
         h3{
            color:#03416F;
            height: 70px;
            border-bottom: 1px solid grey;
         }
    }
}

.bottom-icons-container{
    border: 1px solid grey;
    margin-top:100px;
    display: flex;
    justify-content: center;
    background-color:#F6F6F6 ;

    .bottom-icons{
        width:60%;
        border: 1px solid grey;
        height:100%;
        display: flex;
        

        .icon-card{
            width: calc(100% /4);
            border-right: 1px solid grey;
            border-left: 1px solid grey;
            display: flex;
            padding-top: 10px;
            justify-content:space-around;

            .card-type{
                font-size: 1rem;
                font-weight: bold;
                color:#d8d8d8;
            }

            .card-container{
                width: 50px;


                img{
                    width: 100%;
                    background: #d8d8d8;
                    height:78%

                }
            }
        }
    }
}




