@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css);header {
  height: 100px;
}

header .upper-nav {
  height: 20%;
  background-color: #0282F9;
}

header .options-container {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10px;
  align-items: center;
}

header .options-container .option-txt {
  font-size: 10px;
  color: white;
  margin-right: 10px;
}

header .lower-nav {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header .lower-nav .search-button {
  visibility: hidden;
}

header .lower-nav .menu-button {
  visibility: hidden;
  color: #0282F9;
}

header .lower-nav .menu-button i {
  font-size: 30px;
}

header .lower-nav .logo-container {
  width: 80px;
}

header .lower-nav .logo-container img {
  width: 100%;
}

header .lower-nav .list-options {
  width: 100%;
  display: flex;
  justify-content: center;
}

header .lower-nav .list-options a {
  text-decoration: none;
  color: black;
}

header .lower-nav .list-options a:hover {
  border-bottom: 3px solid #0282F9;
  margin-bottom: -1px;
}

header .lower-nav .list-options ul {
  display: flex;
}

header .lower-nav .list-options ul li {
  list-style: none;
  padding: 10px;
}

header .lower-nav input {
  border: 0;
  outline: 0;
  border-bottom: 2px solid #0282F9;
}

header .lower-nav ::-moz-placeholder {
  padding-left: 65%;
}

header .lower-nav :-ms-input-placeholder {
  padding-left: 65%;
}

header .lower-nav ::placeholder {
  padding-left: 65%;
}

@media only screen and (max-width: 1020px) {
  .lower-nav input {
    display: none;
  }

  .lower-nav .search-button i {
    visibility: visible;
    margin-left: 10px;
  }

  .footer-menu {
    width: 100% !important;
  }

  .footer-logo {
    visibility: hidden;
  }
}

@media only screen and (max-width: 940px) {
  .logo-container {
    visibility: hidden;
  }

  .background-footer {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 880px) {
  .list-options ul li {
    display: none;
  }

  .menu-button i {
    visibility: visible;
  }
}

@media only screen and (max-width: 500px) {
  .footer-menu ul li {
    display: none;
  }
}

footer .background-footer {
  width: 100%;
  background-image: url("/../../images/footer-bg.jpg");
  display: flex;
}

footer .background-footer .footer-menu {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 40px;
}

footer .background-footer .footer-menu ul {
  width: 25%;
  color: white;
}

footer .background-footer .footer-menu ul li {
  color: grey;
  list-style: none;
}

footer .background-footer .footer-logo {
  width: 50%;
  height: 100%;
}

footer .background-footer .footer-logo .logo-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

footer .background-footer .footer-logo .logo-container img {
  width: 55%;
}

footer .social-media {
  display: flex;
  justify-content: space-around;
  background-color: #303030;
  height: 20%;
  align-items: center;
}

footer .social-media button {
  border: 5px solid #0282F9;
  background-color: #303030;
  color: white;
  padding: 20px;
}

footer .social-media .social-icons-container {
  display: flex;
  width: 20%;
  justify-content: space-evenly;
  align-items: center;
}

footer .social-media .social-icons-container span {
  color: #0282F9;
  font-size: 20px;
  font-weight: bolder;
}

footer .social-media .social-icon {
  height: 30px;
  width: 30px;
}

footer .social-media .social-icon img {
  width: 100%;
}

@media screen and (min-width: 1060px) {
  .footer-logo {
    visibility: visible;
  }
}

main .main-background {
  height: 450px;
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
  position: relative;
}

main .main-poster-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  background-color: #1C1C1C;
  position: relative;
}

main .main-poster-container .current-series {
  background-color: #0282F9;
  width: 220px;
  position: absolute;
  top: -24px;
  left: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
}

main .main-poster-container .poster-card {
  width: calc(100% /6 );
  max-width: 250px;
  padding: 15px;
  margin-top: 35px;
  word-wrap: break-word;
  text-decoration: none;
}

main .main-poster-container .poster-card .poster-txt a {
  text-decoration: none;
  color: #fff;
}

main .main-poster-container .poster-card .poster-image {
  height: 250px;
  overflow: hidden;
  height: 200px;
  width: 100%;
}

@media all and (max-width: 1180px) {
  .poster-card {
    width: calc(100% / 4) !important;
  }
}

@media all and (max-width: 800px) {
  .poster-card {
    width: calc(100% / 3) !important;
  }

  .poster-card .poster-card {
    text-decoration: none;
  }
}

@media all and (max-width: 630px) {
  .poster-card {
    width: calc(100% / 2) !important;
    min-width: 200px;
  }

  .current-series {
    width: 180px !important;
    padding: 10px !important;
    font-size: 12px !important;
  }
}

.product-background {
  height: 450px;
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
  position: relative;
}

.product-splitter {
  width: 100%;
  height: 80px;
  background-color: #0282F9;
  position: relative;
}

.product-poster {
  width: 260px;
  position: absolute;
  bottom: -20px;
  left: 20%;
  top: 208px;
}

.product-poster img {
  width: 100%;
}

.product-description-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-description-container img {
  width: 100%;
}

.product-info {
  width: 60%;
  height: 100%;
  display: flex;
}

.product-info .product-advertising {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-info .product-advertising .ad-container {
  width: 80%;
}

.product-info .product-description {
  width: 60%;
}

.product-info .product-description .product-txt-description {
  width: 100%;
  line-height: 30px;
}

.product-info .product-price {
  width: 100%;
  height: 80px;
  background-color: #55BA59;
  display: flex;
}

.product-info .product-price .price {
  height: 100%;
  width: 60%;
  border-right: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-info .product-price .price .price-usd {
  display: flex;
  align-items: center;
}

.product-info .product-price .price p {
  color: #A3F287;
  margin-left: 8px;
  margin-right: 8px;
}

.product-info .product-price .price span {
  color: white;
}

.product-info .product-price .product-availability {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.product-info .product-price .availability {
  color: #A3F287;
  margin-right: 8px;
}

.container-talent-specs {
  height: 350px;
  display: flex;
  justify-content: center;
}

.container-talent-specs .section-talent-specs {
  height: 100%;
  width: 60%;
  display: flex;
}

.container-talent-specs .section-talent-specs .talent {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  height: 100px;
}

.container-talent-specs .section-talent-specs .talent .text-container {
  width: 50%;
  font-size: 0.8rem;
  margin-right: 40px;
}

.container-talent-specs .section-talent-specs .talent-container {
  height: 100%;
  width: 50%;
}

.container-talent-specs .section-talent-specs .talent-container h3 {
  color: #03416F;
  height: 70px;
  border-bottom: 1px solid grey;
}

.container-talent-specs .specs-container {
  height: 100%;
  width: 50%;
}

.container-talent-specs .specs-container .specs {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  height: 50px;
}

.container-talent-specs .specs-container .specs .text-container {
  margin-right: 20px;
}

.container-talent-specs .specs-container h3 {
  color: #03416F;
  height: 70px;
  border-bottom: 1px solid grey;
}

.bottom-icons-container {
  border: 1px solid grey;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
}

.bottom-icons-container .bottom-icons {
  width: 60%;
  border: 1px solid grey;
  height: 100%;
  display: flex;
}

.bottom-icons-container .bottom-icons .icon-card {
  width: calc(100% / 4);
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  display: flex;
  padding-top: 10px;
  justify-content: space-around;
}

.bottom-icons-container .bottom-icons .icon-card .card-type {
  font-size: 14px;
  font-weight: bold;
  color: #d8d8d8;
}

.bottom-icons-container .bottom-icons .icon-card .card-container {
  width: 50px;
  height: 60px;
}

.bottom-icons-container .bottom-icons .icon-card .card-container img {
  width: 100%;
  background: #d8d8d8;
  height: 100%;
}

* {
  font-family: "Roboto";
}

