@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);header {
  height: 100px;
  width: 100%;
}

header .upper-nav {
  height: 20%;
  background-color: #0282F9;
  width: 100%;
}

header .options-container {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10px;
  align-items: center;
}

header .options-container .option-txt {
  font-size: 10px;
  color: white;
  margin-right: 10px;
}

header .lower-nav {
  height: 80%;
  display: flex;
  justify-content: center;
}

header .lower-nav .navbar-menu {
  width: 70%;
  height: 95%;
  display: flex;
  align-items: center;
}

header .lower-nav .navbar-menu .logo-container {
  width: 50px;
}

header .lower-nav .navbar-menu .logo-container img {
  width: 100%;
}

header .lower-nav .navbar-menu .list-options ul {
  display: flex;
}

header .lower-nav .navbar-menu .list-options ul li {
  margin-right: 40px;
  list-style: none;
}

header .lower-nav .navbar-menu input {
  border: 0;
  outline: 0;
  border-bottom: 2px solid #0282F9;
}

header .lower-nav .navbar-menu input::-moz-placeholder {
  padding-left: 65%;
}

header .lower-nav .navbar-menu input:-ms-input-placeholder {
  padding-left: 65%;
}

header .lower-nav .navbar-menu input::placeholder {
  padding-left: 65%;
}

footer {
  height: 600px;
}

footer .background-footer {
  height: 80%;
  width: 100%;
  background-image: url("/../../images/footer-bg.jpg");
  display: flex;
}

footer .background-footer .footer-menu {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 40px;
}

footer .background-footer .footer-menu ul {
  width: 25%;
  color: white;
}

footer .background-footer .footer-menu ul li {
  color: grey;
  list-style: none;
}

footer .background-footer .footer-logo {
  width: 50%;
  height: 100%;
}

footer .background-footer .footer-logo .logo-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

footer .background-footer .footer-logo .logo-container img {
  width: 55%;
}

footer .social-media {
  display: flex;
  justify-content: space-between;
  background-color: #303030;
  height: 20%;
  align-items: center;
}

footer .social-media .social-icons-container {
  display: flex;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

footer .social-media .social-icon {
  height: 30px;
  width: 30px;
}

footer .social-media .social-icon img {
  width: 100%;
}

main {
  height: 1000px;
  border: 1px solid red;
}

main .main-background {
  height: 40%;
  background-image: url(/images/jumbotron.jpg);
  background-size: cover;
}

main .main-poster-container {
  border: 4px solid green;
  width: 80%;
  height: 100%;
  display: flex;
}

main .main-poster-container .poster-card {
  height: 80px;
  width: 100px;
  border: 1px solid red;
}

main .main-poster-container .poster-card img {
  width: 100%;
}

* {
  font-family: "Roboto";
}

